:root {
  font-family: "Libertinus Serif", serif;
  line-height: 1.5;
  font-weight: 500;
  color-scheme: light dark;

  /* --- Estilos para el modo claro (por defecto) --- */
  --text-color: #000000;
  --background-color: #ffffff;
  --button-bg-color: #f9f9f9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* --- Estilos para el modo oscuro --- */
@media (prefers-color-scheme: dark) {
  :root {
    color: rgba(255, 255, 255, 0.87); /* Texto claro */
    background-color: #242424; /* Fondo oscuro */
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  
  color: var(--text-color);
  background-color: var(--background-color);
}

/* --- Estilos para el modo oscuro aplicados con la clase .dark --- */
body.dark {
  --text-color: rgba(255, 255, 255, 0.87);
  --background-color: #242424;
  --button-bg-color: #1a1a1a;
}

body.dark a:hover {
  color: #535bf2;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-bg-color); /* Usamos la variable CSS */
  cursor: pointer;
  transition: border-color 0.25s;
}