.container-sm {
padding: 2.5dvh 2dvw;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
gap: 2rem;
margin-bottom: 2rem;
border-radius: 10px;
}

.date {
  font-size: 1.7em;
  margin-bottom: 0.25rem;
  font-weight: normal;
}

.hola{
display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
}
.hola2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
}
.time {
padding: 10px 20px;
border-radius: 10px;
  font-size: 2.5em;
  font-weight: 700;
  margin: 0.2rem 0;
}

.timezone {
  font-size: 1.1em;
}

/* body.dark .container-sm {
  border-bottom-color: #444;
}
body.dark .timezone {
  color: #aaa;
}
body.dark .date {
  color: #bbb;
}
.error {
  color: #c00;
  font-size: 0.8em;
}*/

@media (max-width: 600px) {
  .container-sm {
    flex-direction: column;
    padding: 15px; /* Reducimos el padding en pantallas pequeñas */
    gap: 1.5rem; /* Reducimos el espacio en pantallas pequeñas */
    font-size: 0.9em;
  }
}